
<div class="container">
  <div class="row">
    <h4 class="mb-3">User todos</h4>
    <div class="col-12" *ngFor="let todo of todos">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">ToDo {{ todo.id }}</h5>
          <h5 class="card-title">{{ todo.title }}</h5>
          <h5 class="card-title mb-3">Completed = {{ todo.completed }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">UserId {{ todo.userId }}</h6>
        </div>
      </div>

    </div>
  </div>
</div>
