
<div class="container">
  <div class="row">
    <div class="col-12" *ngFor="let album of albums">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Album {{ album.id }} | {{ album.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">User Id: {{ album.userId }}</h6>
          <p class="card-text"></p>
          <a [routerLink]="['/photos', album.id]" class="card-link">Album Photos</a>
          <a [routerLink]="['/users']" class="card-link">Back to Users</a>
        </div>
      </div>

    </div>
  </div>
</div>
