<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mb-3">BuildWeek3 Application</h4>
      <p>This application uses JSONPlaceholder API <a href="https://jsonplaceholder.typicode.com/">https://jsonplaceholder.typicode.com/</a></p>
      <p>JSONPlaceholder comes with a set of 6 common resources:</p>
      <p><a href="https://jsonplaceholder.typicode.com/posts">/posts</a><br>
      <a href="https://jsonplaceholder.typicode.com/comments">/comments</a><br>
      <a href="https://jsonplaceholder.typicode.com/albums">/albums</a><br>
      <a href="https://jsonplaceholder.typicode.com/photos">/photos</a><br>
      <a href="https://jsonplaceholder.typicode.com/todos">/todos</a><br>
      <a href="https://jsonplaceholder.typicode.com/users">/users</a><br>
      </p>
      <p>Application structure allows you to navigate all resources via hyperlinks.</p>
      <p><b>Start using the Navbar and have fun!</b></p>
    </div>
  </div>
</div>
